Repository slackapi/bolt-python, pull requests merged in 2020-08, with the labels that each got.

#40 Make app.shortcut compatible with Bolt for JS
  scripts/run_tests.sh
  slack_bolt/listener_matcher/builtins.py
  tests/async_scenario_tests/test_shortcut.py
  tests/scenario_tests/test_shortcut.py
Labels: area:async, bug

#41 Fix #37 by implementing context.matches
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/context/base_context.py
  slack_bolt/middleware/async_message_listener_matches.py
  slack_bolt/middleware/message_listener_matches.py
  tests/async_scenario_tests/test_message.py
  tests/scenario_tests/test_message.py
Labels: area:async, enhancement

#43 Fix #31 by adding app.error handler
  .travis.yml
  samples/app.py
  scripts/install_all_and_run_tests.sh
  scripts/run_pytype.sh
  scripts/run_tests.sh
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/context/async_context.py
  slack_bolt/context/base_context.py
  slack_bolt/context/context.py
  slack_bolt/listener/async_listener_error_handler.py
  slack_bolt/listener/listener_error_handler.py
  tests/async_scenario_tests/test_error_handler.py
  tests/scenario_tests/test_error_handler.py
Labels: enhancement

#35 Implement Lazy Listener Functions #34
  samples/aws_chalice/app.py
  samples/aws_chalice/simple_app.py
  samples/aws_lambda/.gitignore
  samples/aws_lambda/deploy_lazy.sh
  samples/aws_lambda/lazy_aws_lambda.py
  samples/aws_lambda/lazy_aws_lambda_config.yaml
  samples/django/slackapp/slackapp/settings.py
  samples/lazy_async_modals_app.py
  samples/lazy_modals_app.py
  samples/modals_app_typed.py
  samples/readme_app.py
  samples/readme_async_app.py
  scripts/run_tests.sh
  slack_bolt/adapter/aws_lambda/chalice_handler.py
  slack_bolt/adapter/aws_lambda/chalice_lazy_listener_runner.py
  slack_bolt/adapter/aws_lambda/handler.py
  slack_bolt/adapter/aws_lambda/lazy_listener_runner.py
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/lazy_listener/__init__.py
  slack_bolt/lazy_listener/async_internals.py
  slack_bolt/lazy_listener/async_runner.py
  slack_bolt/lazy_listener/asyncio_runner.py
  slack_bolt/lazy_listener/internals.py
  slack_bolt/lazy_listener/runner.py
  slack_bolt/lazy_listener/thread_runner.py
  slack_bolt/listener/async_listener.py
  slack_bolt/listener/custom_listener.py
  slack_bolt/listener/listener.py
  slack_bolt/request/async_request.py
  slack_bolt/request/request.py
  slack_bolt/util/utils.py
  tests/async_scenario_tests/test_lazy.py
  tests/scenario_tests/test_lazy.py
Labels: area:adatper, area:async, enhancement

#45 Fix #38 by adding samples using Google Cloud Functions
  samples/google_cloud_functions/.env.yaml.sample
  samples/google_cloud_functions/.gcloudignore
  samples/google_cloud_functions/.gitignore
  samples/google_cloud_functions/main.py
  samples/google_cloud_functions/requirements.txt
Labels: docs

#49 Add tests for flask/lambda/starlette adapters
  .travis.yml
  samples/aws_lambda/requirements.txt
  samples/aws_lambda/requirements_oauth.txt
  scripts/install_all_and_run_tests.sh
  setup.py
  slack_bolt/adapter/aws_lambda/chalice_lazy_listener_runner.py
  slack_bolt/adapter/aws_lambda/lazy_listener_runner.py
  tests/adapter_tests/__init__.py
  tests/adapter_tests/test_async_fastapi.py
  tests/adapter_tests/test_async_starlette.py
  tests/adapter_tests/test_aws_lambda.py
  tests/adapter_tests/test_fastapi.py
  tests/adapter_tests/test_flask.py
  tests/adapter_tests/test_starlette.py
Labels: area:adatper

#48 Get rid of os.environment access in default arguments
  slack_bolt/adapter/aws_lambda/lambda_s3_oauth_flow.py
  slack_bolt/oauth/async_oauth_flow.py
  slack_bolt/oauth/oauth_flow.py
Labels: bug

#50 Update say utility to accept any arguments
  samples/events_app.py
  samples/message_events.py
  slack_bolt/context/say/async_say.py
  slack_bolt/context/say/say.py
Labels: docs, enhancement

#51 Add documentation infra
  docs/.gitignore
  docs/Gemfile
  docs/_advanced/example.md
  docs/_basic/example.md
  docs/_config.yml
  docs/_includes/analytics.html
  docs/_includes/head.html
  docs/_includes/header.html
  docs/_includes/sidebar.html
  docs/_includes/tag_manager.html
  docs/_layouts/default.html
  docs/_layouts/tutorial.html
  docs/_tutorials/getting_started.md
  docs/assets/basic-information-page.png
  docs/assets/bolt-favicon.png
  docs/assets/bolt-logo.svg
  docs/assets/bolt-py-logo.svg
  docs/assets/bot-token.png
  docs/assets/ngrok.gif
  docs/assets/request-url-config.png
  docs/assets/signing-secret.png
  docs/assets/style.css
  docs/index.md
  docs/jp.md
  docs/scripts/tutorial_nav.js
Labels: docs

#55 Organize built-in middleware by putting them into packages
  slack_bolt/app/async_app.py
  slack_bolt/middleware/async_builtins.py
  slack_bolt/middleware/ignoring_self_events/__init__.py
  slack_bolt/middleware/ignoring_self_events/async_ignoring_self_events.py
  slack_bolt/middleware/ignoring_self_events/ignoring_self_events.py
  slack_bolt/middleware/message_listener_matches/__init__.py
  slack_bolt/middleware/message_listener_matches/async_message_listener_matches.py
  slack_bolt/middleware/message_listener_matches/message_listener_matches.py
  slack_bolt/middleware/request_verification/__init__.py
  slack_bolt/middleware/request_verification/async_request_verification.py
  slack_bolt/middleware/request_verification/request_verification.py
  slack_bolt/middleware/ssl_check/__init__.py
  slack_bolt/middleware/ssl_check/async_ssl_check.py
  slack_bolt/middleware/ssl_check/ssl_check.py
  slack_bolt/middleware/url_verification/__init__.py
  slack_bolt/middleware/url_verification/async_url_verification.py
  slack_bolt/middleware/url_verification/url_verification.py
Labels: area:async, area:sync, improvement

#53 Return 404 when missing next() calls and returning response in global middleware
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  tests/async_scenario_tests/test_middleware.py
  tests/scenario_tests/test_middleware.py
Labels: area:async, area:sync, bug
