Repository slackapi/bolt-python, pull requests merged in 2020-10, with the labels that each got.

#110 Fix error in Updating and Pushing Views section's sample code
  docs/_basic/opening_modals.md
  docs/_basic/updating_pushing_modals.md
Labels: docs

#114 Fix decorators' side effects to methods
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  tests/scenario_tests/test_app_decorators.py
  tests/scenario_tests_async/test_app_decorators.py
Labels: area:async, area:sync, bug

#116 Add more fields to context for Bolt JS compatibility
  slack_bolt/authorization/authorize_result.py
  slack_bolt/context/base_context.py
  slack_bolt/middleware/authorization/async_multi_teams_authorization.py
  slack_bolt/middleware/authorization/async_single_team_authorization.py
  slack_bolt/middleware/authorization/multi_teams_authorization.py
  slack_bolt/middleware/authorization/single_team_authorization.py
  tests/mock_web_api_server.py
  tests/scenario_tests/test_authorize.py
  tests/scenario_tests/test_block_actions.py
  tests/scenario_tests_async/test_authorize.py
  tests/scenario_tests_async/test_block_actions.py
Labels: area:async, area:sync, enhancement, improvement

#115 Revise README
  README.md
Labels: docs

#117 fix svg
  docs/assets/bolt-py-logo.svg
Labels: docs

#119 Fix a bug where LambdaS3OAuthFlow does not work when settings arg is given
  slack_bolt/adapter/aws_lambda/lambda_s3_oauth_flow.py
Labels: area:adatper, bug

#122 Add cache_enabled option to InstallationStoreAuthorize
  slack_bolt/authorization/async_authorize.py
  slack_bolt/authorization/authorize.py
  tests/slack_bolt/authorization/__init__.py
  tests/slack_bolt/authorization/test_authorize.py
  tests/slack_bolt_async/authorization/__init__.py
  tests/slack_bolt_async/authorization/test_async_authorize.py
Labels: area:async, area:sync, enhancement, improvement

#127 Enable WorkflowStep to have lazy listeners
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/workflows/step/async_step.py
  slack_bolt/workflows/step/step.py
  tests/scenario_tests/test_workflow_steps.py
  tests/scenario_tests_async/test_workflow_steps.py
Labels: area:async, area:sync, enhancement

#124 Fix #123 by adding a validation in constructors (App/AsyncApp)
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/logger/messages.py
  tests/scenario_tests/test_app.py
  tests/scenario_tests_async/test_app.py
Labels: area:async, area:sync, bug

#131 Add Python 3.9 to CI builds
  .travis.yml
Labels: area:adatper, area:async, area:sync

#130 Update README for #128
  README.md
Labels: area:async, area:sync, docs

#133 Fix #132 by handling requestContext in AWS Lambda payloads
  scripts/install_all_and_run_tests.sh
  slack_bolt/adapter/aws_lambda/handler.py
  tests/adapter_tests/test_aws_lambda.py
Labels: area:adatper, bug
