Repository slackapi/bolt-python, pull requests merged in 2020-12, with the labels that each got.

#148 Add org-level installation support
  examples/oauth_sqlite3_app_org_level.py
  setup.py
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/authorization/async_authorize.py
  slack_bolt/authorization/authorize.py
  slack_bolt/context/base_context.py
  slack_bolt/middleware/authorization/internals.py
  slack_bolt/oauth/internals.py
  slack_bolt/oauth/oauth_flow.py
  slack_bolt/request/internals.py
  tests/scenario_tests/test_events_org_apps.py
  tests/scenario_tests_async/test_events_org_apps.py
  tests/slack_bolt/authorization/test_authorize.py
  tests/slack_bolt/request/test_internals.py
  tests/slack_bolt_async/authorization/test_async_authorize.py
Labels: area:async, area:sync, enhancement, semver:minor

#161 adding docs for org apps
  docs/_basic/authenticating_oauth.md
Labels: docs

#169 Improve request parser for better compatibility with Socket Mode
  slack_bolt/request/internals.py
  tests/slack_bolt/request/test_internals.py
Labels: area:async, area:sync, improvement

#173 Remove the possibility of issue #170 by removing emoji from the boot message only for Windows
  slack_bolt/app/app.py
  slack_bolt/app/async_server.py
  slack_bolt/util/utils.py
Labels: area:async, area:sync, improvement

#178 Fix #177 by updating App/AsyncApp bot_only flag initialization
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/logger/messages.py
  tests/scenario_tests/test_app.py
  tests/scenario_tests/test_app_bot_only.py
  tests/scenario_tests_async/test_app_bot_only.py
Labels: area:async, area:sync, bug

#180 Fix #158 by adding token_verification_enabled option to App
  slack_bolt/app/app.py
  tests/scenario_tests/test_app.py
Labels: area:sync, enhancement, improvement
