Repository slackapi/bolt-python, pull requests merged in 2020-11, with the labels that each got.

#139 Move PayloadUtils to request package
  slack_bolt/kwargs_injection/async_utils.py
  slack_bolt/kwargs_injection/utils.py
  slack_bolt/listener/async_listener_error_handler.py
  slack_bolt/listener/listener_error_handler.py
  slack_bolt/listener_matcher/builtins.py
  slack_bolt/request/payload_utils.py
Labels: area:async, area:sync, improvement

#138 Add default to CallbackOptions handler args
  examples/oauth_app_settings.py
  slack_bolt/oauth/async_callback_options.py
  slack_bolt/oauth/async_oauth_flow.py
  slack_bolt/oauth/callback_options.py
  slack_bolt/oauth/oauth_flow.py
Labels: area:async, area:sync, enhancement

#141 Fix #140 by updating the default install page handler
  slack_bolt/oauth/async_oauth_flow.py
  slack_bolt/oauth/internals.py
  slack_bolt/oauth/oauth_flow.py
  tests/adapter_tests/test_aws_chalice.py
  tests/adapter_tests/test_aws_lambda.py
  tests/adapter_tests/test_bottle_oauth.py
  tests/adapter_tests/test_cherrypy_oauth.py
  tests/adapter_tests/test_django.py
  tests/adapter_tests/test_falcon.py
  tests/adapter_tests/test_fastapi.py
  tests/adapter_tests/test_flask.py
  tests/adapter_tests/test_pyramid.py
  tests/adapter_tests/test_starlette.py
  tests/adapter_tests/test_tornado_oauth.py
  tests/adapter_tests_async/test_async_fastapi.py
  tests/adapter_tests_async/test_async_sanic.py
  tests/adapter_tests_async/test_async_starlette.py
  tests/slack_bolt/oauth/test_oauth_flow.py
  tests/slack_bolt/oauth/test_oauth_flow_sqlite3.py
  tests/slack_bolt_async/oauth/test_async_oauth_flow.py
  tests/slack_bolt_async/oauth/test_async_oauth_flow_sqlite3.py
Labels: area:async, area:sync, bug, improvement

#136 Improve the app.installation_store field consistency
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/logger/messages.py
  slack_bolt/oauth/async_internals.py
  slack_bolt/oauth/async_oauth_settings.py
  slack_bolt/oauth/internals.py
  slack_bolt/oauth/oauth_settings.py
  tests/scenario_tests/test_app.py
  tests/scenario_tests_async/test_app.py
Labels: area:async, area:sync, improvement

#142 Use Sequence type hints over List for args
  slack_bolt/adapter/aws_lambda/handler.py
  slack_bolt/adapter/aws_lambda/internals.py
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/context/ack/ack.py
  slack_bolt/context/ack/async_ack.py
  slack_bolt/context/ack/internals.py
  slack_bolt/context/respond/async_respond.py
  slack_bolt/context/respond/internals.py
  slack_bolt/context/respond/respond.py
  slack_bolt/context/say/async_say.py
  slack_bolt/context/say/say.py
  slack_bolt/kwargs_injection/async_utils.py
  slack_bolt/kwargs_injection/utils.py
  slack_bolt/listener/async_listener.py
  slack_bolt/listener/custom_listener.py
  slack_bolt/listener/listener.py
  slack_bolt/listener_matcher/async_listener_matcher.py
  slack_bolt/listener_matcher/custom_listener_matcher.py
  slack_bolt/middleware/async_custom_middleware.py
  slack_bolt/middleware/custom_middleware.py
  slack_bolt/oauth/async_oauth_flow.py
  slack_bolt/oauth/async_oauth_settings.py
  slack_bolt/oauth/oauth_flow.py
  slack_bolt/oauth/oauth_settings.py
  slack_bolt/request/async_request.py
  slack_bolt/request/internals.py
  slack_bolt/request/request.py
  slack_bolt/response/response.py
  slack_bolt/util/utils.py
  slack_bolt/workflows/step/async_step.py
  slack_bolt/workflows/step/step.py
  slack_bolt/workflows/step/utilities/async_configure.py
  slack_bolt/workflows/step/utilities/configure.py
Labels: area:adatper, area:async, area:sync, enhancement, improvement

#146 version 1.0.0 (GA) release
  README.md
  setup.py
  slack_bolt/version.py
Labels: area:adatper, area:async, area:sync

#147 Add unit tests for request_verification middleware
  tests/slack_bolt/middleware/request_verification/__init__.py
  tests/slack_bolt/middleware/request_verification/test_request_verification.py
  tests/slack_bolt_async/middleware/request_verification/__init__.py
  tests/slack_bolt_async/middleware/request_verification/test_request_verification.py
Labels: area:async, area:sync, improvement

#152 Fix Events API handling issue in shared channels
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/middleware/authorization/async_multi_teams_authorization.py
  slack_bolt/middleware/authorization/multi_teams_authorization.py
  slack_bolt/request/internals.py
  tests/scenario_tests/test_events_shared_channels.py
  tests/scenario_tests_async/test_events_shared_channels.py
Labels: area:async, area:sync, bug

#153 Add OAuth related arg validation and flexibility
  slack_bolt/app/async_app.py
  slack_bolt/logger/messages.py
  slack_bolt/oauth/async_oauth_flow.py
  slack_bolt/oauth/async_oauth_settings.py
  slack_bolt/oauth/oauth_settings.py
  tests/slack_bolt/oauth/test_oauth_flow.py
  tests/slack_bolt_async/oauth/test_async_oauth_flow.py
Labels: area:async, area:sync, improvement

#154 Apply internal adjustments for Socket Mode support
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/logger/messages.py
  slack_bolt/middleware/request_verification/async_request_verification.py
  slack_bolt/middleware/request_verification/request_verification.py
  slack_bolt/request/async_request.py
  slack_bolt/request/internals.py
  slack_bolt/request/request.py
  tests/scenario_tests/test_events_socket_mode.py
  tests/scenario_tests_async/test_app.py
  tests/scenario_tests_async/test_events_socket_mode.py
Labels: area:async, area:sync, enhancement

#163 Update oauth_app.py
  examples/sqlalchemy/oauth_app.py
Labels: area:examples, bug
