Repository slackapi/bolt-python, pull requests merged in 2020-09, with the labels that each got.

#52 Add Docker samples
  samples/docker/aiohttp/Dockerfile
  samples/docker/aiohttp/main.py
  samples/docker/aiohttp/requirements.txt
  samples/docker/fastapi-gunicorn/Dockerfile
  samples/docker/fastapi-gunicorn/main.py
  samples/docker/fastapi-gunicorn/requirements.txt
  samples/docker/flask-gunicorn/Dockerfile
  samples/docker/flask-gunicorn/main.py
  samples/docker/flask-gunicorn/requirements.txt
  samples/docker/flask-uwsgi/Dockerfile
  samples/docker/flask-uwsgi/main.py
  samples/docker/flask-uwsgi/requirements.txt
  samples/docker/flask-uwsgi/uwsgi.ini
  samples/docker/sanic/Dockerfile
  samples/docker/sanic/main.py
  samples/docker/sanic/requirements.txt
  samples/google_cloud_run/aiohttp/Dockerfile
  samples/google_cloud_run/aiohttp/main.py
  samples/google_cloud_run/aiohttp/requirements.txt
  samples/google_cloud_run/flask-gunicorn/Dockerfile
  samples/google_cloud_run/flask-gunicorn/main.py
  samples/google_cloud_run/flask-gunicorn/requirements.txt
  samples/google_cloud_run/sanic/Dockerfile
  samples/google_cloud_run/sanic/main.py
  samples/google_cloud_run/sanic/requirements.txt
  samples/sanic/async_app.py
  samples/sanic/async_oauth_app.py
Labels: docs

#54 Update app.start()'s message and docstring
  samples/app.py
  samples/async_app.py
  slack_bolt/app/app.py
  slack_bolt/app/async_server.py
Labels: area:async, area:sync, docs, enhancement

#58 Add "workflow_step_edit" action support and samples
  samples/async_steps_from_apps.py
  samples/steps_from_apps.py
  slack_bolt/listener_matcher/builtins.py
Labels: area:async, area:sync, enhancement

#60 Fix #57 by GAE samples
  samples/google_app_engine/flask/.gcloudignore
  samples/google_app_engine/flask/.gitignore
  samples/google_app_engine/flask/app.yaml
  samples/google_app_engine/flask/env_variables.yaml.sample
  samples/google_app_engine/flask/main.py
  samples/google_app_engine/flask/requirements.txt
Labels: area:sync, docs

#59 Fix #56 by adding aliases to payload in listener/middleware args
  slack_bolt/kwargs_injection/args.py
  slack_bolt/kwargs_injection/async_args.py
  slack_bolt/kwargs_injection/async_utils.py
  slack_bolt/kwargs_injection/utils.py
  slack_bolt/listener_matcher/builtins.py
  slack_bolt/util/payload_utils.py
  tests/async_scenario_tests/test_attachment_actions.py
  tests/async_scenario_tests/test_block_actions.py
  tests/async_scenario_tests/test_block_suggestion.py
  tests/async_scenario_tests/test_dialogs.py
  tests/async_scenario_tests/test_events.py
  tests/async_scenario_tests/test_shortcut.py
  tests/async_scenario_tests/test_slash_command.py
  tests/async_scenario_tests/test_view_closed.py
  tests/async_scenario_tests/test_view_submission.py
  tests/scenario_tests/test_attachment_actions.py
  tests/scenario_tests/test_block_actions.py
  tests/scenario_tests/test_block_suggestion.py
  tests/scenario_tests/test_dialogs.py
  tests/scenario_tests/test_events.py
  tests/scenario_tests/test_message.py
  tests/scenario_tests/test_shortcut.py
  tests/scenario_tests/test_slash_command.py
  tests/scenario_tests/test_view_closed.py
  tests/scenario_tests/test_view_submission.py
Labels: area:async, area:sync, enhancement

#66 Fix #64 by correcting say() implementation
  samples/events_app.py
  slack_bolt/request/internals.py
  tests/async_scenario_tests/test_events.py
  tests/scenario_tests/test_events.py
  tests/slack_bolt/request/__init__.py
  tests/slack_bolt/request/test_internals.py
Labels: area:async, area:sync

#67 Fix #65 by having block_actions as the default when type is missing in constraints
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/listener_matcher/builtins.py
  tests/async_scenario_tests/test_block_actions.py
  tests/scenario_tests/test_block_actions.py
  tests/slack_bolt/listener_matcher/__init__.py
  tests/slack_bolt/listener_matcher/test_builtins.py
Labels: area:async, area:sync, bug

#83 Fix #80 by making app.action/options more flexible
  samples/dialogs_app.py
  slack_bolt/listener_matcher/builtins.py
  tests/scenario_tests/test_attachment_actions.py
  tests/scenario_tests/test_dialogs.py
  tests/scenario_tests_async/test_attachment_actions.py
  tests/scenario_tests_async/test_dialogs.py
Labels: area:async, area:sync, improvement

#84 Add tests for Pyramid framework
  slack_bolt/adapter/pyramid/handler.py
  tests/adapter_tests/test_pyramid.py
Labels: area:adatper, area:sync, improvement

#85 Add tests for Django adapter
  tests/adapter_tests/test_django.py
  tests/adapter_tests/test_django_settings.py
Labels: area:adatper, area:sync, improvement

#86 Add tests for Tornado adapter
  tests/adapter_tests/test_tornado.py
  tests/adapter_tests/test_tornado_oauth.py
Labels: area:adatper, area:sync, improvement

#88 Fix #87 by correcting App internals
  slack_bolt/app/app.py
  slack_bolt/middleware/authorization/async_multi_teams_authorization.py
  slack_bolt/middleware/authorization/multi_teams_authorization.py
  slack_bolt/middleware/authorization/single_team_authorization.py
  slack_bolt/oauth/async_oauth_flow.py
  tests/scenario_tests/test_events.py
  tests/scenario_tests_async/test_events.py
Labels: area:sync, bug

#71 Add Getting started guide
  docs/_tutorials/getting_started.md
  samples/getting_started/.gitignore
  samples/getting_started/README.md
  samples/getting_started/app.py
  samples/getting_started/requirements.txt
Labels: docs

#91 Update head.html
  docs/_includes/head.html
Labels: docs

#95 Fix #79 by advanced topics and some adjustments
  docs/_advanced/adapters.md
  docs/_advanced/async.md
  docs/_advanced/example.md
  docs/_advanced/lazy_listener_functions.md
  docs/_basic/listening_modals.md
  docs/_basic/listening_responding_shortcuts.md
  docs/_basic/opening_modals.md
  docs/_basic/updating_pushing_modals.md
  docs/_tutorials/getting_started.md
  docs/assets/style.css
Labels: docs

#96 Add more docstring for #21
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/app/async_server.py
  slack_bolt/auth/result.py
  slack_bolt/kwargs_injection/args.py
  slack_bolt/kwargs_injection/async_args.py
  slack_bolt/lazy_listener/async_runner.py
  slack_bolt/lazy_listener/runner.py
  slack_bolt/listener/async_listener.py
  slack_bolt/listener/async_listener_error_handler.py
  slack_bolt/listener/listener_error_handler.py
  slack_bolt/listener_matcher/async_listener_matcher.py
  slack_bolt/listener_matcher/listener_matcher.py
  slack_bolt/logger/messages.py
  slack_bolt/middleware/authorization/async_multi_teams_authorization.py
  slack_bolt/middleware/authorization/async_single_team_authorization.py
  slack_bolt/middleware/authorization/multi_teams_authorization.py
  slack_bolt/middleware/authorization/single_team_authorization.py
  slack_bolt/middleware/ignoring_self_events/ignoring_self_events.py
  slack_bolt/middleware/message_listener_matches/async_message_listener_matches.py
  slack_bolt/middleware/message_listener_matches/message_listener_matches.py
  slack_bolt/middleware/request_verification/request_verification.py
  slack_bolt/middleware/ssl_check/ssl_check.py
  slack_bolt/middleware/url_verification/url_verification.py
  slack_bolt/oauth/async_callback_options.py
  slack_bolt/oauth/async_oauth_flow.py
  slack_bolt/oauth/async_oauth_settings.py
  slack_bolt/oauth/callback_options.py
  slack_bolt/oauth/oauth_flow.py
  slack_bolt/oauth/oauth_settings.py
  slack_bolt/request/async_request.py
  slack_bolt/request/request.py
  slack_bolt/response/response.py
Labels: area:async, area:sync, docs

#99 Make single team auth Bolt JS compatible
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/middleware/authorization/async_multi_teams_authorization.py
  slack_bolt/middleware/authorization/async_single_team_authorization.py
  slack_bolt/middleware/authorization/multi_teams_authorization.py
  slack_bolt/middleware/authorization/single_team_authorization.py
  tests/adapter_tests/test_bottle.py
  tests/adapter_tests/test_tornado.py
  tests/scenario_tests/test_app.py
  tests/scenario_tests/test_attachment_actions.py
  tests/scenario_tests/test_block_actions.py
  tests/scenario_tests/test_block_suggestion.py
  tests/scenario_tests/test_dialogs.py
  tests/scenario_tests/test_shortcut.py
  tests/scenario_tests/test_slash_command.py
  tests/scenario_tests/test_view_closed.py
  tests/scenario_tests/test_view_submission.py
  tests/scenario_tests_async/test_attachment_actions.py
  tests/scenario_tests_async/test_block_actions.py
  tests/scenario_tests_async/test_block_suggestion.py
  tests/scenario_tests_async/test_dialogs.py
  tests/scenario_tests_async/test_shortcut.py
  tests/scenario_tests_async/test_slash_command.py
  tests/scenario_tests_async/test_view_closed.py
  tests/scenario_tests_async/test_view_submission.py
  tests/slack_bolt/app/test_dev_server.py
  tests/slack_bolt/middleware/authorization/test_single_team_authorization.py
  tests/slack_bolt_async/middleware/authorization/test_single_team_authorization.py
Labels: area:async, area:sync, enhancement, improvement

#103 Make Bolt Python more customizable from global middleware
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/kwargs_injection/async_utils.py
  slack_bolt/kwargs_injection/utils.py
  slack_bolt/listener/asyncio_runner.py
  slack_bolt/listener/thread_runner.py
  slack_bolt/listener_matcher/builtins.py
  slack_bolt/middleware/ignoring_self_events/async_ignoring_self_events.py
  slack_bolt/middleware/ignoring_self_events/ignoring_self_events.py
  slack_bolt/util/payload_utils.py
  tests/slack_bolt/kwargs_injection/test_args.py
  tests/slack_bolt_async/kwargs_injection/test_async_args.py
Labels: area:async, area:sync, enhancement, improvement

#101 Change type hints for bot related fields in AuthorizationResult to optional
  slack_bolt/authorization/authorization_result.py
Labels: area:async, area:sync, improvement

#104 Add Advanced Sections to documentation
  docs/_advanced/adapters.md
  docs/_advanced/async.md
  docs/_advanced/authorization.md
  docs/_advanced/context.md
  docs/_advanced/custom_adapters.md
  docs/_advanced/errors.md
  docs/_advanced/global_middleware.md
  docs/_advanced/lazy_listener.md
  docs/_advanced/lazy_listener_functions.md
  docs/_advanced/listener_middleware.md
  docs/_advanced/logging.md
  docs/_basic/authenticating_oauth.md
  docs/_basic/listening_responding_options.md
  docs/_basic/listening_responding_shortcuts.md
  docs/_basic/publishing_views.md
  docs/_config.yml
  docs/assets/style.css
Labels: docs

#107 fix secondary code snippet width
  docs/assets/style.css
Labels: docs

#106 Adjust the docs
  docs/_advanced/authorization.md
  docs/_advanced/context.md
  docs/_advanced/lazy_listener.md
Labels: docs
