Repository slackapi/bolt-python, pull requests merged in 2021-11, with the labels that each got.

#511 Upgrade pytype version to 2021.10.25
  scripts/run_pytype.sh
Labels: enhancement

#512 Improve the Django DB connection management #509
  slack_bolt/adapter/django/handler.py
Labels: area:adapter, improvement

#516 Improve the CI build settings
  .github/workflows/codecov.yml
  .github/workflows/pytype.yml
  .github/workflows/tests.yml
Labels: improvement

#519 Fix #518 - a description typo in a Japanese document page
  docs/_tutorials/ja_getting_started_http.md
Labels: docs

#523 Improve the Django app example to be more robust
  examples/django/oauth_app/slack_datastores.py
Labels: bug, area:examples

#528 Add github stale action
  .github/workflows/triage-issues.yml
Labels: enhancement
