Repository slackapi/bolt-python, pull requests merged in 2021-07, with the labels that each got.

#387 Use re.findall() instead of re.search() in message_listener_matches
  slack_bolt/middleware/message_listener_matches/async_message_listener_matches.py
  slack_bolt/middleware/message_listener_matches/message_listener_matches.py
  tests/scenario_tests/test_message.py
  tests/scenario_tests_async/test_message.py
Labels: area:async, area:sync

#389 Add reference to WorkflowStepBuilder in docs
  docs/_steps/creating_workflow_step.md
  docs/_steps/ja_creating_workflow_step.md
Labels: docs

#394 Fix #370 by adding an alias of `next` arg (`next_`) in middleware arguments
  slack_bolt/kwargs_injection/args.py
  slack_bolt/kwargs_injection/async_args.py
  slack_bolt/kwargs_injection/async_utils.py
  slack_bolt/kwargs_injection/utils.py
  slack_bolt/listener/listener.py
  slack_bolt/logger/messages.py
  slack_bolt/middleware/async_custom_middleware.py
  slack_bolt/middleware/async_middleware.py
  slack_bolt/middleware/authorization/async_multi_teams_authorization.py
  slack_bolt/middleware/authorization/async_single_team_authorization.py
  slack_bolt/middleware/authorization/single_team_authorization.py
  slack_bolt/middleware/custom_middleware.py
  slack_bolt/middleware/message_listener_matches/async_message_listener_matches.py
  slack_bolt/middleware/message_listener_matches/message_listener_matches.py
  slack_bolt/middleware/middleware.py
  slack_bolt/middleware/request_verification/async_request_verification.py
  slack_bolt/middleware/request_verification/request_verification.py
  slack_bolt/middleware/ssl_check/async_ssl_check.py
  slack_bolt/middleware/ssl_check/ssl_check.py
  slack_bolt/middleware/url_verification/url_verification.py
  slack_bolt/workflows/step/step_middleware.py
  tests/scenario_tests/test_middleware.py
  tests/scenario_tests_async/test_middleware.py
Labels: area:async, area:sync, improvement, semver:minor

#403 Fix #377 Better log messages for AsyncApp when a listener is missing
  slack_bolt/logger/messages.py
  tests/slack_bolt_async/logger/__init__.py
  tests/slack_bolt_async/logger/test_unmatched_suggestions.py
Labels: area:async

#402 Fix #372 by adding listener matcher docs
  docs/_advanced/ja_listener_middleware.md
  docs/_advanced/listener_middleware.md
Labels: docs

#408 Update the Django example for token rotation
  examples/django/myslackapp/urls.py
  examples/django/oauth_app/migrations/0002_token_rotation.py
  examples/django/oauth_app/models.py
  examples/django/oauth_app/slack_datastores.py
  examples/django/oauth_app/slack_listeners.py
  examples/django/requirements.txt
Labels: area:adapter, area:examples, docs

#413 Add section in docs for token rotation
  docs/_advanced/context.md
  docs/_advanced/global_middleware.md
  docs/_advanced/lazy_listener.md
  docs/_advanced/listener_middleware.md
  docs/_advanced/token_rotation.md
Labels: docs

#418 Add Japanese translation of "token rotation" docment
  docs/_advanced/ja_context.md
  docs/_advanced/ja_global_middleware.md
  docs/_advanced/ja_lazy_listener.md
  docs/_advanced/ja_listener_middleware.md
  docs/_advanced/ja_token_rotation.md
Labels: docs
