Repository slackapi/bolt-python, pull requests merged in 2021-06, with the labels that each got.

#360 Fix #358 Add more links to listener argument guide in document pages
  docs/_advanced/global_middleware.md
  docs/_advanced/ja_global_middleware.md
  docs/_advanced/ja_listener_middleware.md
  docs/_advanced/listener_middleware.md
  docs/_basic/acknowledging_events.md
  docs/_basic/ja_acknowledging_events.md
  docs/_basic/ja_listening_actions.md
  docs/_basic/ja_listening_events.md
  docs/_basic/ja_listening_messages.md
  docs/_basic/ja_listening_modals.md
  docs/_basic/ja_listening_responding_commands.md
  docs/_basic/ja_listening_responding_options.md
  docs/_basic/ja_listening_responding_shortcuts.md
  docs/_basic/ja_opening_modals.md
  docs/_basic/ja_publishing_views.md
  docs/_basic/ja_responding_actions.md
  docs/_basic/ja_sending_messages.md
  docs/_basic/ja_updating_pushing_modals.md
  docs/_basic/ja_web_api.md
  docs/_basic/listening_actions.md
  docs/_basic/listening_events.md
  docs/_basic/listening_messages.md
  docs/_basic/listening_modals.md
  docs/_basic/listening_responding_commands.md
  docs/_basic/listening_responding_options.md
  docs/_basic/listening_responding_shortcuts.md
  docs/_basic/opening_modals.md
  docs/_basic/publishing_views.md
  docs/_basic/responding_actions.md
  docs/_basic/sending_messages.md
  docs/_basic/updating_pushing_modals.md
  docs/_basic/web_api.md
  docs/_steps/adding_editing_workflow_step.md
  docs/_steps/creating_workflow_step.md
  docs/_steps/executing_workflow_steps.md
  docs/_steps/ja_adding_editing_workflow_step.md
  docs/_steps/ja_creating_workflow_step.md
  docs/_steps/ja_executing_workflow_steps.md
  docs/_steps/ja_saving_workflow_step.md
  docs/_steps/saving_workflow_step.md
  docs/_tutorials/getting_started.md
  docs/_tutorials/ja_getting_started.md
  docs/api-docs/slack_bolt/kwargs_injection/index.html
  docs/assets/style.css
  examples/getting_started/app.py
Labels: docs

#359 Fix #206 Add error handling to view submission code snippet in docs
  docs/_basic/ja_listening_modals.md
  docs/_basic/listening_modals.md
Labels: docs

#363 Fix #346 Allow unfurl_media / unfurl_links in ack / respond
  slack_bolt/context/ack/ack.py
  slack_bolt/context/ack/async_ack.py
  slack_bolt/context/ack/internals.py
  slack_bolt/context/respond/async_respond.py
  slack_bolt/context/respond/internals.py
  slack_bolt/context/respond/respond.py
  slack_bolt/context/say/async_say.py
  slack_bolt/context/say/say.py
  tests/slack_bolt/context/test_ack.py
  tests/slack_bolt/context/test_respond.py
  tests/slack_bolt/context/test_respond_internals.py
  tests/slack_bolt/context/test_say.py
  tests/slack_bolt_async/context/test_async_ack.py
  tests/slack_bolt_async/context/test_async_respond.py
  tests/slack_bolt_async/context/test_async_say.py
Labels: area:async, area:sync, bug

#375 Update install page to avoid favicon downloads
  slack_bolt/oauth/internals.py
  tests/adapter_tests_async/test_async_fastapi.py
  tests/adapter_tests_async/test_async_sanic.py
  tests/adapter_tests_async/test_async_starlette.py
Labels: area:async, area:sync, improvement

#379 Make cookies extraction on AWS Lambda compatible with its format v1.0
  slack_bolt/adapter/aws_lambda/handler.py
  tests/adapter_tests/aws/test_aws_lambda.py
Labels: area:adapter, enhancement
