Repository slackapi/bolt-python, pull requests merged in 2021-09, with the labels that each got.

#460 Fix #459 Invalid type hints in App / AsyncApp
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
Labels: bug, area:async, area:sync

#472 update block id from listening modals
  docs/_basic/listening_modals.md
Labels: bug, docs

#476 Improve the error message in the case where AuthorizeResult is not found
  slack_bolt/authorization/async_authorize.py
  slack_bolt/authorization/authorize.py
  slack_bolt/middleware/authorization/async_multi_teams_authorization.py
  slack_bolt/middleware/authorization/multi_teams_authorization.py
Labels: area:async, improvement, area:sync

#479 Adds update view on submission docs
  docs/_basic/listening_modals.md
Labels: docs

#477 Add more guide message in the HTML generated by the default failure handler
  slack_bolt/oauth/internals.py
  tests/slack_bolt/oauth/test_internals.py
Labels: area:async, improvement, area:sync
