Repository slackapi/bolt-python, pull requests merged in 2021-08, with the labels that each got.

#415 doc: make events in the document clearer
  docs/_advanced/adapters.md
  docs/_advanced/authorization.md
  docs/_advanced/context.md
  docs/_advanced/global_middleware.md
  docs/_advanced/lazy_listener.md
  docs/_basic/acknowledging_events.md
  docs/_basic/listening_actions.md
  docs/_basic/listening_modals.md
  docs/_basic/listening_responding_commands.md
  docs/_basic/listening_responding_shortcuts.md
  docs/_basic/responding_actions.md
Labels: docs

#429 make events in Japanese document clearer
  docs/_advanced/ja_adapters.md
  docs/_advanced/ja_authorization.md
  docs/_advanced/ja_context.md
  docs/_advanced/ja_global_middleware.md
  docs/_advanced/ja_lazy_listener.md
  docs/_basic/ja_acknowledging_events.md
  docs/_basic/ja_listening_actions.md
  docs/_basic/ja_listening_modals.md
  docs/_basic/ja_listening_responding_commands.md
  docs/_basic/ja_listening_responding_shortcuts.md
  docs/_basic/ja_responding_actions.md
Labels: docs

#432 Update Sanic adapter and its tests to be compatible with sanic v21
  setup.py
  slack_bolt/adapter/sanic/async_handler.py
  tests/adapter_tests_async/test_async_sanic.py
Labels: enhancement, area:async, area:adapter

#431 Fix #430 by adding a new option to customize dev server (http.server) logging
  slack_bolt/app/app.py
Labels: enhancement, area:sync

#437 Fix a token rotation bug where a bot token is not refreshed if a user token does not exist
  slack_bolt/authorization/async_authorize.py
  slack_bolt/authorization/authorize.py
Labels: bug, area:async, area:sync

#438 Update slash command listener examples in documents to use respond() over say()
  docs/_basic/ja_listening_responding_commands.md
  docs/_basic/listening_responding_commands.md
Labels: docs

#442 Added basic lazy lambda example setup and deploy instructions
  examples/aws_lambda/.gitignore
  examples/aws_lambda/README.md
  examples/aws_lambda/deploy_lazy.sh
  examples/aws_lambda/lazy_aws_lambda_config.yaml
Labels: docs, area:adapter, area:examples

#444 Updating lazy lambda OAuth example
  examples/aws_lambda/.env.oauth_sample
  examples/aws_lambda/README.md
  examples/aws_lambda/aws_lambda.py
  examples/aws_lambda/aws_lambda_oauth.py
  examples/aws_lambda/aws_lambda_oauth_config.yaml
  examples/aws_lambda/deploy_oauth.sh
Labels: docs, area:adapter, area:examples

#451 Fix cookie extraction during OAuth for REST based AWS API GW + Lambda app
  slack_bolt/adapter/aws_lambda/handler.py
Labels: bug, area:adapter

#453 Allow a custom Executor in App
  slack_bolt/app/app.py
  slack_bolt/lazy_listener/thread_runner.py
  slack_bolt/listener/thread_runner.py
  tests/scenario_tests/test_app.py
Labels: enhancement, area:async, area:sync

#455 Fix #454 Add oauth_settings.state_validation_enabled to customize the OAuth flow
  slack_bolt/oauth/async_oauth_flow.py
  slack_bolt/oauth/async_oauth_settings.py
  slack_bolt/oauth/oauth_flow.py
  slack_bolt/oauth/oauth_settings.py
  tests/slack_bolt/oauth/test_oauth_flow.py
  tests/slack_bolt_async/oauth/test_async_oauth_flow.py
Labels: enhancement, area:async, area:sync
