Repository slackapi/bolt-python, pull requests merged in 2021-12, with the labels that each got.

#535 Fixes #534, updates link to view submissions
  docs/_basic/ja_listening_modals.md
  docs/_basic/listening_modals.md
Labels: docs

#538 Update the respond utility guide
  docs/.gitignore
  docs/_basic/ja_responding_actions.md
  docs/_basic/responding_actions.md
Labels: docs

#543 Fix url_verification error with the Flask adapter
  examples/app_authorize.py
  examples/async_app.py
  slack_bolt/adapter/flask/handler.py
  tests/adapter_tests/flask/test_flask.py
Labels: bug, area:adapter

#544 Fix #542 Add additional context values for FastAPI apps
  examples/fastapi/async_app_custom_props.py
  slack_bolt/adapter/starlette/async_handler.py
  slack_bolt/adapter/starlette/handler.py
  tests/adapter_tests/starlette/test_fastapi.py
  tests/adapter_tests_async/test_async_fastapi.py
Labels: area:async, area:adapter, area:sync

#546 Fix #545 Enable to use lazy listeners even when having any custom context data
  slack_bolt/context/async_context.py
  slack_bolt/context/base_context.py
  slack_bolt/context/context.py
  slack_bolt/listener/asyncio_runner.py
  slack_bolt/listener/thread_runner.py
  slack_bolt/request/async_request.py
  slack_bolt/request/request.py
  tests/scenario_tests/test_lazy.py
  tests/scenario_tests_async/test_lazy.py
Labels: bug, area:async, area:sync

#547 Upgrade pytype, black versions
  scripts/run_pytype.sh
  setup.py
  slack_bolt/adapter/falcon/resource.py
  slack_bolt/adapter/sanic/async_handler.py
  slack_bolt/adapter/tornado/handler.py
  slack_bolt/context/base_context.py
Labels: enhancement, area:async, area:sync

#555 Fix #552 Unable to use request body with lazy listener when socket mode is enabled
  slack_bolt/request/async_request.py
  slack_bolt/request/request.py
  tests/adapter_tests/socket_mode/test_lazy_listeners.py
  tests/adapter_tests_async/socket_mode/test_async_lazy_listeners.py
Labels: bug, area:async, area:adapter, area:sync
