Repository slackapi/bolt-python, pull requests merged in 2021-05, with the labels that each got.

#323 Add missing listener suggestion to the default unhandled error message
  scripts/run_tests.sh
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/logger/messages.py
  tests/slack_bolt/logger/__init__.py
  tests/slack_bolt/logger/test_unmatched_suggestions.py
Labels: area:async, area:sync, enhancement, semver:minor

#338 chore(lazy_listener.md): minor typo fix
  docs/_advanced/lazy_listener.md
Labels: docs

#340 Set Werkzeug major version to 1 for Flask compatibility
  setup.py
Labels: area:adapter

#354 Add Japanese translation of "Advanced Concepts" pages
  docs/_advanced/errors.md
  docs/_advanced/ja_adapters.md
  docs/_advanced/ja_async.md
  docs/_advanced/ja_authorization.md
  docs/_advanced/ja_context.md
  docs/_advanced/ja_custom_adapters.md
  docs/_advanced/ja_errors.md
  docs/_advanced/ja_global_middleware.md
  docs/_advanced/ja_lazy_listener.md
  docs/_advanced/ja_listener_middleware.md
  docs/_advanced/ja_logging.md
  docs/_advanced/logging.md
  docs/_config.yml
Labels: docs
