Repository slackapi/bolt-python, pull requests merged in 2021-01, with the labels that each got.

#187 Update Sanic adapter unit tests to be compatible with the latest version
  tests/adapter_tests_async/test_async_sanic.py
Labels: area:adapter, area:async, improvement

#188 Add more unit tests
  tests/slack_bolt/authorization/test_authorize.py
  tests/slack_bolt/listener_matcher/test_builtins.py
  tests/slack_bolt/util/__init__.py
  tests/slack_bolt/util/test_util.py
  tests/slack_bolt_async/authorization/test_async_authorize.py
Labels: improvement

#189 Add type hint updates missed in #148
  slack_bolt/authorization/async_authorize.py
  slack_bolt/authorization/async_authorize_args.py
  slack_bolt/authorization/authorize.py
  slack_bolt/authorization/authorize_args.py
Labels: area:async, area:sync, bug, improvement

#192 Fix #174 by enabling to use instance/class methods for listeners/middleware
  slack_bolt/kwargs_injection/async_utils.py
  slack_bolt/kwargs_injection/utils.py
  slack_bolt/logger/messages.py
  tests/scenario_tests/test_app_using_methods_in_class.py
  tests/scenario_tests_async/test_app_using_methods_in_class.py
Labels: area:async, area:sync, enhancement, improvement

#186 Fix #183 Easier way to configure the direct install URL on App Directory
  slack_bolt/oauth/async_oauth_flow.py
  slack_bolt/oauth/async_oauth_settings.py
  slack_bolt/oauth/oauth_flow.py
  slack_bolt/oauth/oauth_settings.py
  tests/slack_bolt/oauth/test_oauth_flow.py
  tests/slack_bolt_async/oauth/test_async_oauth_flow.py
Labels: area:async, area:sync, enhancement

#198 Fix #197 by supporting classic bot messages in app.message constraints
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/listener_matcher/builtins.py
  tests/scenario_tests/test_message_bot.py
  tests/scenario_tests_async/test_message_bot.py
Labels: area:async, area:sync, bug

#200 added inital socket mode document
  docs/_basic/socket_mode.md
Labels: docs

#202 Improve #192 by using inspect module methods
  slack_bolt/kwargs_injection/async_utils.py
  slack_bolt/kwargs_injection/utils.py
  slack_bolt/lazy_listener/async_internals.py
  slack_bolt/lazy_listener/internals.py
  slack_bolt/listener/async_listener.py
  slack_bolt/listener/custom_listener.py
  slack_bolt/listener_matcher/async_builtins.py
  slack_bolt/listener_matcher/async_listener_matcher.py
  slack_bolt/listener_matcher/builtins.py
  slack_bolt/listener_matcher/custom_listener_matcher.py
  slack_bolt/middleware/async_custom_middleware.py
  slack_bolt/middleware/custom_middleware.py
  tests/scenario_tests/test_app_using_methods_in_class.py
  tests/scenario_tests_async/test_app_using_methods_in_class.py
Labels: area:async, area:sync, enhancement, improvement

#203 Fix #198 bug where str subtype constraint does not work
  slack_bolt/listener_matcher/builtins.py
  tests/scenario_tests/test_events.py
  tests/scenario_tests_async/test_events.py
Labels: area:async, area:sync, bug

#212 Fix #208 by updating AsyncOAuthFlow
  slack_bolt/oauth/async_oauth_flow.py
  slack_bolt/oauth/oauth_flow.py
Labels: area:async, bug

#213 Fix #210 by correcting a type hint in async OAuth classes
  slack_bolt/oauth/async_oauth_settings.py
Labels: area:async, bug

#201 Improvement related to #199: add event type name validation
  slack_bolt/listener_matcher/builtins.py
  slack_bolt/logger/messages.py
  tests/scenario_tests/test_events.py
  tests/scenario_tests_async/test_events.py
Labels: area:async, area:sync, enhancement

#217 Apply more updates on #216
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/listener/asyncio_runner.py
  slack_bolt/listener/thread_runner.py
  slack_bolt/middleware/async_custom_middleware.py
  slack_bolt/middleware/custom_middleware.py
  slack_bolt/util/utils.py
  slack_bolt/workflows/step/async_step_middleware.py
  slack_bolt/workflows/step/step_middleware.py
Labels: area:async, area:sync, improvement

#220 Doc event bolt python
  docs/_basic/listening_events.md
Labels: docs

#224 Add Workflow step decorator
  examples/workflow_steps/async_steps_from_apps.py
  examples/workflow_steps/async_steps_from_apps_decorator.py
  examples/workflow_steps/async_steps_from_apps_primitive.py
  examples/workflow_steps/steps_from_apps.py
  examples/workflow_steps/steps_from_apps_decorator.py
  examples/workflow_steps/steps_from_apps_primitive.py
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/workflows/step/async_step.py
  slack_bolt/workflows/step/internals.py
  slack_bolt/workflows/step/step.py
  tests/scenario_tests/test_workflow_steps_decorator_simple.py
  tests/scenario_tests/test_workflow_steps_decorator_with_args.py
  tests/scenario_tests_async/test_workflow_steps_decorator_simple.py
  tests/scenario_tests_async/test_workflow_steps_decorator_with_args.py
Labels: area:async, area:sync, enhancement
