Repository slackapi/bolt-python, pull requests merged in 2021-04, with the labels that each got.

#286 Fix #267 Mention the necessity of lambda:InvokeFunction permission in lazy listener document
  docs/_advanced/lazy_listener.md
  examples/aws_lambda/lazy_aws_lambda_config.yaml
Labels: docs

#287 Enable installation_store authorize to fallback to bots (prep for #254)
  slack_bolt/authorization/async_authorize.py
  slack_bolt/authorization/authorize.py
  tests/scenario_tests/test_installation_store_authorize.py
  tests/scenario_tests_async/test_installation_store_authorize.py
Labels: area:async, area:sync, enhancement

#289 Fix #254 Add built-in tokens_revoked/app_uninstalled event handlers
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/listener/async_builtins.py
  slack_bolt/listener/builtins.py
  slack_bolt/logger/messages.py
  tests/mock_web_api_server.py
  tests/scenario_tests/test_events_token_revocations.py
  tests/scenario_tests_async/test_events_token_revocations.py
Labels: area:async, area:sync, enhancement

#288 Fix #260 Enable to use respond utility in app.view listeners (only when response_urls exists)
  slack_bolt/request/async_internals.py
  slack_bolt/request/internals.py
  tests/mock_web_api_server.py
  tests/scenario_tests/test_view_submission.py
  tests/scenario_tests_async/test_view_submission.py
Labels: area:async, area:sync, enhancement

#290 Fix #273 Enable developers to customize the way to handle unmatched requests
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/error/__init__.py
  slack_bolt/listener/async_listener_error_handler.py
  slack_bolt/listener/listener_error_handler.py
  slack_bolt/logger/messages.py
  tests/scenario_tests/test_error_handler.py
  tests/scenario_tests_async/test_error_handler.py
Labels: area:async, area:sync, enhancement

#314 Add Japanese translation of Steps from Apps documents
  docs/_config.yml
  docs/_steps/adding_editing_workflow_step.md
  docs/_steps/ja_adding_editing_workflow_step.md
  docs/_steps/ja_creating_workflow_step.md
  docs/_steps/ja_executing_workflow_steps.md
  docs/_steps/ja_saving_workflow_step.md
  docs/_steps/ja_workflow_steps_overview.md
Labels: docs

#311 Fix #309 Fallback to no-emoji boot message when failing to load for some reason
  slack_bolt/util/utils.py
Labels: area:async, area:sync

#316 Fix chalice deployment bug introduced in #270
  slack_bolt/adapter/aws_lambda/chalice_handler.py
  slack_bolt/adapter/aws_lambda/chalice_lazy_listener_runner.py
  slack_bolt/adapter/aws_lambda/local_lambda_client.py
  tests/adapter_tests/aws/test_aws_chalice.py
Labels: area:adapter, bug
