Repository slackapi/bolt-python, pull requests merged in 2022-10, with the labels that each got.

#734 Fix context.team_id for view interactions in a Slack Connect channel
  slack_bolt/request/internals.py
  tests/scenario_tests/test_view_submission.py
  tests/scenario_tests_async/test_view_submission.py
  tests/slack_bolt/request/test_request.py
Labels: bug, area:async, area:sync

#741 Fix #738 Add more keyword args to say utility
  slack_bolt/context/say/async_say.py
  slack_bolt/context/say/say.py
  tests/slack_bolt/context/test_say.py
  tests/slack_bolt_async/context/test_async_say.py
Labels: enhancement, area:async, area:sync

#745 Remove 2020-resolver
  .github/maintainers_guide.md
Labels: docs

#752 Update code_cov upload method
  .github/workflows/codecov.yml
  .github/workflows/flake8.yml
  .github/workflows/pytype.yml
  .github/workflows/tests.yml
Labels: enhancement
