Repository slackapi/bolt-python, pull requests merged in 2022-02, with the labels that each got.

#586 Fix #584 Wrong user_token assigned to new user (affected versions: v1.11.2, v1.11.3)
  slack_bolt/authorization/async_authorize.py
  slack_bolt/authorization/authorize.py
  tests/mock_web_api_server.py
  tests/slack_bolt/authorization/test_authorize.py
  tests/slack_bolt_async/authorization/test_async_authorize.py
Labels: bug, area:async, area:sync

#587 Update ngrok link to point to official guide
  docs/_tutorials/getting_started_http.md
  docs/_tutorials/ja_getting_started_http.md
Labels: bug, docs

#588 Upgrade test dependencies & fix Falcon warning
  .github/maintainers_guide.md
  .github/workflows/codecov.yml
  .github/workflows/tests.yml
  scripts/install_all_and_run_tests.sh
  scripts/run_pytype.sh
  scripts/run_tests.sh
  setup.py
  slack_bolt/adapter/falcon/resource.py
  tests/adapter_tests/django/test_django_settings.py
  tests/adapter_tests/falcon/test_falcon.py
Labels: enhancement, area:adapter

#602 Fix #601 Allow for host option for AsyncSlackAppServer start method
  slack_bolt/app/async_app.py
  slack_bolt/app/async_server.py
Labels: enhancement, area:async
