Repository slackapi/bolt-python, pull requests merged in 2022-07, with the labels that each got.

#679 Allow lazy function invocation to target version/alias
  slack_bolt/adapter/aws_lambda/handler.py
  slack_bolt/adapter/aws_lambda/lazy_listener_runner.py
  tests/adapter_tests/aws/test_aws_lambda.py
Labels: enhancement, area:adapter

#684 Fix #683 IgnoringSelfEvents middleware does not filter out Message sent via response_url
  slack_bolt/middleware/ignoring_self_events/async_ignoring_self_events.py
  slack_bolt/middleware/ignoring_self_events/ignoring_self_events.py
  tests/scenario_tests/test_events_ignore_self.py
  tests/scenario_tests_async/test_events_ignore_self.py
Labels: bug, area:async, area:sync

#686 Add anchors and add contribute link to sidebar
  docs/_config.yml
  docs/_includes/sidebar.html
  docs/_tutorials/getting_started.md
  docs/_tutorials/getting_started_http.md
  docs/_tutorials/ja_getting_started.md
  docs/_tutorials/ja_getting_started_http.md
Labels: docs

#690 Issue #660: Replace HTML entities before markdownify in docs
  docs/_layouts/default.html
Labels: docs
