Repository slackapi/bolt-python, pull requests merged in 2023-03, with the labels that each got.

#841 Update future with main
  .github/ISSUE_TEMPLATE/01_question.md
  .github/ISSUE_TEMPLATE/02_enhancement.md
  .github/ISSUE_TEMPLATE/03_document.md
  .github/ISSUE_TEMPLATE/04_bug.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/codecov.yml
  docs/api-docs/slack_bolt/async_app.html
  docs/api-docs/slack_bolt/authorization/async_authorize.html
  docs/api-docs/slack_bolt/index.html
  docs/api-docs/slack_bolt/listener/async_listener.html
  docs/api-docs/slack_bolt/listener/index.html
  docs/api-docs/slack_bolt/listener/listener.html
  docs/api-docs/slack_bolt/version.html
  examples/django/README.md
  slack_bolt/authorization/async_authorize.py
  slack_bolt/kwargs_injection/args.py
  slack_bolt/kwargs_injection/async_args.py
  slack_bolt/kwargs_injection/async_utils.py
  slack_bolt/kwargs_injection/utils.py
  slack_bolt/listener/async_listener.py
  slack_bolt/listener/listener.py
  tests/scenario_tests_async/test_web_client_customization.py
Labels: improvement

#844 Fix #842 Cannot pass thread_ts to respond() utility
  slack_bolt/context/respond/async_respond.py
  slack_bolt/context/respond/internals.py
  slack_bolt/context/respond/respond.py
  tests/scenario_tests/test_block_actions_respond.py
  tests/scenario_tests_async/test_block_actions_respond.py
  tests/scenario_tests_async/test_web_client_customization.py
Labels: bug, area:async, area:sync

#851 Enable developers to pass fully implemented authorize along with installation_store
  setup.py
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  tests/scenario_tests/test_app_custom_authorize.py
  tests/scenario_tests_async/test_app_custom_authorize.py
Labels: enhancement, area:async, area:sync

#848 Enable developers to define app.message listener without args to capture all messages
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  tests/scenario_tests/test_message.py
  tests/scenario_tests_async/test_message.py
Labels: enhancement, area:async, area:sync

#852 Fix #850 by upgrading slack-sdk version to the latest
  setup.py
Labels: bug

#853 Add team param support to the /slack/install endpoint
  slack_bolt/oauth/async_oauth_flow.py
  slack_bolt/oauth/oauth_flow.py
  tests/slack_bolt/oauth/test_oauth_flow.py
  tests/slack_bolt_async/oauth/test_async_oauth_flow.py
Labels: enhancement, area:async, area:sync

#855 Enhance AuthorizeResult to have bot/user_scopes & resolve user_id for user token
  slack_bolt/authorization/async_authorize.py
  slack_bolt/authorization/authorize.py
  slack_bolt/authorization/authorize_result.py
  tests/scenario_tests/test_app_installation_store.py
  tests/scenario_tests_async/test_app_installation_store.py
Labels: bug, enhancement

#854 Introduce actor enterprise/team/user_id for Slack Connect events
  slack_bolt/adapter/aws_lambda/lambda_s3_oauth_flow.py
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/authorization/async_authorize.py
  slack_bolt/authorization/authorize.py
  slack_bolt/context/base_context.py
  slack_bolt/middleware/authorization/async_multi_teams_authorization.py
  slack_bolt/middleware/authorization/multi_teams_authorization.py
  slack_bolt/oauth/async_oauth_settings.py
  slack_bolt/oauth/oauth_settings.py
  slack_bolt/request/async_internals.py
  slack_bolt/request/internals.py
  tests/scenario_tests/test_app_actor_user_token.py
  tests/scenario_tests_async/test_app_actor_user_token.py
  tests/slack_bolt/request/test_internals.py
Labels: enhancement, area:async, area:sync

#856 Update optional chalice dependency version range
  setup.py
Labels: area:adapter

#858 Fix a #855 bug where user_scopes exist even when user token is absent
  slack_bolt/authorization/async_authorize.py
  slack_bolt/authorization/authorize.py
  tests/scenario_tests/test_app_actor_user_token.py
  tests/scenario_tests_async/test_app_actor_user_token.py
Labels: bug, area:async, area:sync

#861 Improve token rotation error handling and installation error text
  slack_bolt/authorization/async_authorize.py
  slack_bolt/authorization/authorize.py
  slack_bolt/middleware/authorization/async_internals.py
  slack_bolt/middleware/authorization/async_multi_teams_authorization.py
  slack_bolt/middleware/authorization/async_single_team_authorization.py
  slack_bolt/middleware/authorization/internals.py
  slack_bolt/middleware/authorization/multi_teams_authorization.py
  slack_bolt/middleware/authorization/single_team_authorization.py
  tests/scenario_tests/test_authorize.py
  tests/scenario_tests_async/test_authorize.py
  tests/slack_bolt/middleware/authorization/test_single_team_authorization.py
  tests/slack_bolt_async/middleware/authorization/test_single_team_authorization.py
Labels: enhancement, area:async, improvement, area:sync

#869 Add before_authorize middleware
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  tests/scenario_tests/test_authorize.py
  tests/scenario_tests_async/test_authorize.py
Labels: enhancement, area:async, area:sync
