Repository slackapi/bolt-python, pull requests merged in 2023-04, with the labels that each got.

#875 Remove legacy tag from docs
  docs/.markdownlint.yml
  docs/_includes/sidebar.html
  docs/_layouts/default.html
Labels: docs

#882 Improve the default OAuth page renderers not to embed any params without escaping them
  setup.py
  slack_bolt/oauth/internals.py
  tests/adapter_tests_async/test_async_falcon.py
  tests/adapter_tests_async/test_async_fastapi.py
  tests/adapter_tests_async/test_async_sanic.py
  tests/adapter_tests_async/test_async_starlette.py
  tests/slack_bolt/oauth/test_internals.py
Labels: bug

#885 Improve the default handler when raise_error_for_unhandled_request is true
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/error/__init__.py
  tests/slack_bolt/error/__init__.py
  tests/slack_bolt/error/test_errors.py
Labels: bug, area:async, area:sync
