Repository slackapi/bolt-python, pull requests merged in 2024-08, with the labels that each got.

#1117 Docs: sidebar reference link needs to be full URL
  docs/sidebars.js
Labels: bug, docs

#1118 Docs: docusaurus migration nits
  docs/content/index.md
  docs/docusaurus.config.js
Labels: docs

#1123 docs: google analytics tag
  docs/docusaurus.config.js
Labels: docs

#1124 chore: purge the "workflow step" terminology
  docs/content/steps/adding-editing-steps.md
  docs/content/steps/creating-steps.md
  docs/content/steps/executing-steps.md
  docs/content/steps/saving-steps.md
  docs/content/steps/steps.md
  docs/i18n/ja-jp/docusaurus-plugin-content-docs/current.json
  docs/sidebars.js
  examples/workflow_steps/async_steps_from_apps.py
  examples/workflow_steps/async_steps_from_apps_decorator.py
  examples/workflow_steps/async_steps_from_apps_primitive.py
  examples/workflow_steps/steps_from_apps.py
  examples/workflow_steps/steps_from_apps_decorator.py
  examples/workflow_steps/steps_from_apps_primitive.py
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/kwargs_injection/__init__.py
  slack_bolt/logger/messages.py
  slack_bolt/request/payload_utils.py
  slack_bolt/workflows/__init__.py
  slack_bolt/workflows/step/async_step.py
  slack_bolt/workflows/step/async_step_middleware.py
  slack_bolt/workflows/step/step.py
  slack_bolt/workflows/step/step_middleware.py
  slack_bolt/workflows/step/utilities/__init__.py
  slack_bolt/workflows/step/utilities/async_complete.py
  slack_bolt/workflows/step/utilities/async_fail.py
  slack_bolt/workflows/step/utilities/complete.py
  slack_bolt/workflows/step/utilities/fail.py
Labels: docs

#1021 feat: add custom step support
  README.md
  requirements.txt
  slack_bolt/__init__.py
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/context/async_context.py
  slack_bolt/context/base_context.py
  slack_bolt/context/complete/__init__.py
  slack_bolt/context/complete/async_complete.py
  slack_bolt/context/complete/complete.py
  slack_bolt/context/context.py
  slack_bolt/context/fail/__init__.py
  slack_bolt/context/fail/async_fail.py
  slack_bolt/context/fail/fail.py
  slack_bolt/kwargs_injection/args.py
  slack_bolt/kwargs_injection/async_args.py
  slack_bolt/kwargs_injection/async_utils.py
  slack_bolt/kwargs_injection/utils.py
  slack_bolt/listener_matcher/builtins.py
  slack_bolt/logger/messages.py
  slack_bolt/middleware/__init__.py
  slack_bolt/middleware/async_builtins.py
  slack_bolt/middleware/attaching_function_token/__init__.py
  slack_bolt/middleware/attaching_function_token/async_attaching_function_token.py
  slack_bolt/middleware/attaching_function_token/attaching_function_token.py
  slack_bolt/request/async_internals.py
  slack_bolt/request/internals.py
  slack_bolt/request/payload_utils.py
  slack_bolt/version.py
  tests/scenario_tests/test_app_decorators.py
  tests/scenario_tests/test_function.py
  tests/scenario_tests_async/test_function.py
  tests/slack_bolt/context/test_complete.py
  tests/slack_bolt/context/test_fail.py
  tests/slack_bolt/kwargs_injection/test_args.py
  tests/slack_bolt/logger/test_unmatched_suggestions.py
  tests/slack_bolt/request/test_internals.py
  tests/slack_bolt_async/context/test_async_complete.py
  tests/slack_bolt_async/context/test_async_fail.py
  tests/slack_bolt_async/kwargs_injection/test_async_args.py
  tests/slack_bolt_async/logger/test_unmatched_suggestions.py
Labels: enhancement, area:async, area:sync, semver:minor

#1125 docs: document custom step usage
  docs/content/basic/custom-steps.md
  docs/i18n/ja-jp/docusaurus-plugin-content-docs/current/basic/custom-steps.md
  docs/sidebars.js
Labels: docs

#1132 Fix #1131 A class with async "__call__" method fails to work as a middleware
  slack_bolt/app/async_app.py
  slack_bolt/middleware/async_custom_middleware.py
  slack_bolt/util/utils.py
  tests/scenario_tests_async/test_app_using_methods_in_class.py
Labels: bug, area:async

#1135 Add option for additional context to Sanic adapter handler
  slack_bolt/adapter/sanic/async_handler.py
Labels: enhancement, area:adapter, cla:signed

#1134 chore: naming of is_coroutine_function
  slack_bolt/app/async_app.py
  slack_bolt/middleware/async_custom_middleware.py
  slack_bolt/util/utils.py
Labels: area:async, improvement

#1142 Add listener_runner to context object to enable developers to leverage lazy listeners in middleware
  scripts/run_tests.sh
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/context/async_context.py
  slack_bolt/context/base_context.py
  slack_bolt/context/context.py
  slack_bolt/listener/asyncio_runner.py
  slack_bolt/listener/thread_runner.py
  slack_bolt/workflows/step/async_step_middleware.py
  slack_bolt/workflows/step/step_middleware.py
  tests/scenario_tests/test_middleware.py
  tests/scenario_tests_async/test_middleware.py
Labels: enhancement, area:async, area:sync
