Repository slackapi/bolt-python, pull requests merged in 2024-10, with the labels that each got.

#1173 feat: expose auto acknowledge for `function` handlers
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  tests/scenario_tests/test_function.py
  tests/scenario_tests_async/test_function.py
Labels: enhancement, area:async, area:sync, semver:minor

#1162 Add Agents & Assistants support
  examples/assistants/app.py
  examples/assistants/async_app.py
  examples/assistants/async_interaction_app.py
  examples/assistants/interaction_app.py
  requirements.txt
  slack_bolt/__init__.py
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  slack_bolt/async_app.py
  slack_bolt/context/assistant/__init__.py
  slack_bolt/context/assistant/assistant_utilities.py
  slack_bolt/context/assistant/async_assistant_utilities.py
  slack_bolt/context/assistant/thread_context/__init__.py
  slack_bolt/context/assistant/thread_context_store/__init__.py
  slack_bolt/context/assistant/thread_context_store/async_store.py
  slack_bolt/context/assistant/thread_context_store/default_async_store.py
  slack_bolt/context/assistant/thread_context_store/default_store.py
  slack_bolt/context/assistant/thread_context_store/file/__init__.py
  slack_bolt/context/assistant/thread_context_store/store.py
  slack_bolt/context/async_context.py
  slack_bolt/context/base_context.py
  slack_bolt/context/context.py
  slack_bolt/context/get_thread_context/__init__.py
  slack_bolt/context/get_thread_context/async_get_thread_context.py
  slack_bolt/context/get_thread_context/get_thread_context.py
  slack_bolt/context/save_thread_context/__init__.py
  slack_bolt/context/save_thread_context/async_save_thread_context.py
  slack_bolt/context/save_thread_context/save_thread_context.py
  slack_bolt/context/say/async_say.py
  slack_bolt/context/say/say.py
  slack_bolt/context/set_status/__init__.py
  slack_bolt/context/set_status/async_set_status.py
  slack_bolt/context/set_status/set_status.py
  slack_bolt/context/set_suggested_prompts/__init__.py
  slack_bolt/context/set_suggested_prompts/async_set_suggested_prompts.py
  slack_bolt/context/set_suggested_prompts/set_suggested_prompts.py
  slack_bolt/context/set_title/__init__.py
  slack_bolt/context/set_title/async_set_title.py
  slack_bolt/context/set_title/set_title.py
  slack_bolt/kwargs_injection/args.py
  slack_bolt/kwargs_injection/async_args.py
  slack_bolt/kwargs_injection/async_utils.py
  slack_bolt/kwargs_injection/utils.py
  slack_bolt/listener/asyncio_runner.py
  slack_bolt/listener/thread_runner.py
  slack_bolt/middleware/__init__.py
  slack_bolt/middleware/assistant/__init__.py
  slack_bolt/middleware/assistant/assistant.py
  slack_bolt/middleware/assistant/async_assistant.py
  slack_bolt/middleware/authorization/single_team_authorization.py
  slack_bolt/middleware/ignoring_self_events/async_ignoring_self_events.py
  slack_bolt/middleware/ignoring_self_events/ignoring_self_events.py
  slack_bolt/request/async_internals.py
  slack_bolt/request/internals.py
  slack_bolt/request/payload_utils.py
  slack_bolt/util/utils.py
  tests/scenario_tests/test_events_assistant.py
  tests/scenario_tests_async/test_events_assistant.py
Labels: enhancement, area:async, area:sync, cla:signed

#1175 Add Agents & Assistants document page
  docs/content/basic/assistant.md
  docs/i18n/ja-jp/docusaurus-plugin-content-docs/current/basic/assistant.md
  docs/sidebars.js
Labels: docs

#1184 Fix a bug where parsing assistant thread message event fails for beta feature enabled apps
  slack_bolt/context/assistant/assistant_utilities.py
  slack_bolt/context/assistant/async_assistant_utilities.py
  slack_bolt/context/assistant/internals.py
  slack_bolt/request/internals.py
  tests/scenario_tests/test_events_assistant.py
  tests/scenario_tests_async/test_events_assistant.py
Labels: bug

#1186 Improve metadata resolution timing in assistant app's say method
  slack_bolt/context/assistant/assistant_utilities.py
  slack_bolt/context/say/say.py
Labels: enhancement, improvement

#1187 Add title argument to SetSuggestedPrompts arguments
  slack_bolt/context/set_suggested_prompts/async_set_suggested_prompts.py
  slack_bolt/context/set_suggested_prompts/set_suggested_prompts.py
  tests/scenario_tests/test_events_assistant.py
  tests/scenario_tests_async/test_events_assistant.py
Labels: enhancement
