Repository slackapi/bolt-python, pull requests merged in 2025-09, with the labels that each got.

#1366 chore: version 1.25.0
  docs/reference/async_app.html
  docs/reference/logger/messages.html
  docs/reference/util/utils.html
  slack_bolt/version.py
Labels: semver:minor

#1340 docs: add ai provider token instructions
  docs/english/tutorial/ai-chatbot/ai-chatbot.md
Labels: docs

#1375 build: require cheroot<11 with adapter test dependencies
  requirements/adapter.txt
Labels: bug, area:adapter, dependencies, tests, semver:patch

#1372 feat: accept markdown_text argument from the say helper
  slack_bolt/context/say/async_say.py
  slack_bolt/context/say/say.py
  tests/slack_bolt/context/test_say.py
  tests/slack_bolt_async/context/test_async_say.py
Labels: enhancement, area:async, area:sync, semver:minor

#1333 build(deps): remove pytest lower bounds from testing requirements
  requirements/testing_without_asyncio.txt
Labels: dependencies, tests

#1371 feat: accept assistant.threads.setStatus method arguments from the assistant class
  docs/reference/async_app.html
  docs/reference/context/set_status/async_set_status.html
  docs/reference/context/set_status/index.html
  docs/reference/context/set_status/set_status.html
  docs/reference/index.html
  slack_bolt/context/set_status/async_set_status.py
  slack_bolt/context/set_status/set_status.py
  tests/slack_bolt/context/test_set_status.py
  tests/slack_bolt_async/context/test_async_set_status.py
Labels: enhancement, area:async, area:sync, semver:minor

#1377 build: install dependencies needed to autogenerate reference docs
  scripts/generate_api_docs.sh
Labels: docs, dependencies
