Repository slackapi/bolt-python, pull requests merged in 2025-10, with the labels that each got.

#1382 fix(types): accept a sequence of suggested prompts in assistant context
  slack_bolt/context/set_suggested_prompts/async_set_suggested_prompts.py
  slack_bolt/context/set_suggested_prompts/set_suggested_prompts.py
  tests/slack_bolt/context/test_set_suggested_prompts.py
  tests/slack_bolt_async/context/test_async_set_suggested_prompts.py
Labels: bug, area:async, area:sync, tests, semver:patch

#1384 docs: adds streaming messages section to sending message page
  docs/english/concepts/ai-apps.md
  docs/english/concepts/message-sending.md
Labels: docs, semver:minor

#1387 feat: add ai-enabled features text streaming methods, feedback blocks, and loading state
  docs/english/concepts/ai-apps.md
  docs/english/concepts/message-sending.md
  docs/reference/app/app.html
  docs/reference/app/async_app.html
  docs/reference/app/index.html
  docs/reference/async_app.html
  docs/reference/context/say/async_say.html
  docs/reference/context/say/index.html
  docs/reference/context/say/say.html
  docs/reference/context/set_status/async_set_status.html
  docs/reference/context/set_status/index.html
  docs/reference/context/set_status/set_status.html
  docs/reference/context/set_suggested_prompts/async_set_suggested_prompts.html
  docs/reference/context/set_suggested_prompts/index.html
  docs/reference/context/set_suggested_prompts/set_suggested_prompts.html
  docs/reference/index.html
  pyproject.toml
  slack_bolt/context/say/async_say.py
  slack_bolt/context/say/say.py
  slack_bolt/context/set_status/async_set_status.py
  slack_bolt/context/set_status/set_status.py
  slack_bolt/context/set_suggested_prompts/async_set_suggested_prompts.py
  slack_bolt/context/set_suggested_prompts/set_suggested_prompts.py
  tests/slack_bolt/context/test_say.py
  tests/slack_bolt/context/test_set_status.py
  tests/slack_bolt/context/test_set_suggested_prompts.py
  tests/slack_bolt_async/context/test_async_say.py
  tests/slack_bolt_async/context/test_async_set_status.py
  tests/slack_bolt_async/context/test_async_set_suggested_prompts.py
Labels: bug, enhancement, area:async, area:sync, semver:minor, tests

#1388 version 1.26.0
  slack_bolt/version.py
Labels: area:async, area:sync, semver:minor
