Repository slackapi/bolt-python, pull requests merged in 2025-03, with the labels that each got.

#1263 fix: configure dependabot to group react deps
  .github/dependabot.yml
Labels: docs, dependencies, github_actions

#1270 test: add tests around the logger experience of bolt
  tests/scenario_tests/test_web_client_customization.py
  tests/scenario_tests_async/test_web_client_customization.py
Labels: area:async, area:sync, tests

#1271 docs: update packaging notation for local development requirements
  .github/maintainers_guide.md
Labels: docs

#1272 fix: honor passing bolt logger in default web client installation
  requirements.txt
  slack_bolt/app/app.py
  slack_bolt/app/async_app.py
  tests/scenario_tests/test_web_client_customization.py
  tests/scenario_tests_async/test_web_client_customization.py
Labels: area:async, area:sync, semver:minor

#1278 release: version 1.23.0
  docs/static/api-docs/slack_bolt/app/app.html
  docs/static/api-docs/slack_bolt/app/async_app.html
  docs/static/api-docs/slack_bolt/app/index.html
  docs/static/api-docs/slack_bolt/async_app.html
  docs/static/api-docs/slack_bolt/index.html
  docs/static/api-docs/slack_bolt/logger/messages.html
  slack_bolt/version.py
Labels: docs, semver:minor

#1276 health: increase CI coverage
  .github/workflows/tests.yml
  pyproject.toml
Labels: area:async, tests

#1282 health: publish test results to code cov
  .github/workflows/tests.yml
  .gitignore
Labels: improvement, python, tests
